# SI 618 HW 1 - Matteo Althoen #

## Introduction ##

**Q1:Mount drive and change directory to where ‘book_data.csv’ is located (0.5 point)**

In [1]:
#Import Libraries
import numpy as np
import pandas as pd

#Currently working in same directory as book_data so no directory change necessary

**Q2: Load the dataset. (0.5 point)**

In [2]:
df = pd.read_csv('book_data.csv')

**Q3: How many books are there? (2 points)**

In [18]:
#Counting total number of books,only counting books with same title and author once
len(df[['book_title','book_authors']].drop_duplicates())

1058

**Q4: How many books have more than 1 author? (2 points)**

In [19]:
#Refer to question 13 for 'no_of_authors' logic
np.sum(df['no_of_authors'] > 1)

135

## Length ##

**Q5 You will want to create a new column with the integer value of the number of pages. (If you remove rows in this process, please state why.) (15 points)**
    Removed Rows with nan as page number. This was so they would not effect analyses done assuming that values are all integers.

In [20]:
str_pages = df['book_pages']
page_numbers = []

#Seperate page numeric value from string and append to new page_number list of integers.
for page in str_pages:
    str_pg = str(page)
    if str_pg != 'nan':
        page_num = int(str_pg.replace(" pages",""))
    else:
        page_num = 'nan'
    page_numbers.append(page_num)

#Insert page_number list into new column int_book_pages
df.insert(6,"int_book_pages", page_numbers, True)

#Drop duplicate columns (covers if insert run multiple times)
df = df.T.drop_duplicates().T

#Remove rows with nan values for book pages
df = df[df.int_book_pages != 'nan']

df.head(10) #notice presence of new column :)

,book_authors,book_desc,no_of_authors,book_edition,book_format,book_isbn,int_book_pages,book_pages,book_rating,dis_book_rating,book_rating_count,book_review_count,book_title,genres,image_url
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",1,NaN,Kindle Edition,NaN,435,435 pages,4.33,4,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,https://images.gr-assets.com/books/1501852423l...
1,Madeline Miller,"In the house of Helios, god of the sun and mig...",1,NaN,Hardcover,9.78e+12,393,393 pages,4.34,4,61357,9369,Circe,Fantasy|Fiction|Fantasy|Mythology|Historical|H...,https://images.gr-assets.com/books/1508879575l...
2,Holly Black,Of course I want to be like them. They’re beau...,1,NaN,Hardcover,9.78e+12,370,370 pages,4.18,4,62897,11948,The Cruel Prince,Fantasy|Young Adult|Fairies|Fae,https://images.gr-assets.com/books/1493047153l...
3,A.J. Finn,Anna Fox lives alone—a recluse in her New York...,1,NaN,Kindle Edition,NaN,449,449 pages,3.97,3,175678,20645,The Woman in the Window,Mystery|Thriller|Fiction|Suspense|Thriller|Mys...,https://images.gr-assets.com/books/1528225499l...
4,Tara Westover,An unforgettable memoir in the tradition of Th...,1,NaN,Hardcover,9.78e+12,334,334 pages,4.47,4,128337,16424,Educated,Nonfiction|Autobiography|Memoir|Biography,https://images.gr-assets.com/books/1506026635l...
5,Tomi Adeyemi,They killed my mother.They took our magic.They...,1,NaN,Hardcover,9.78e+12,525,525 pages,4.25,4,56789,12046,Children of Blood and Bone,Fantasy|Young Adult|Fiction,https://images.gr-assets.com/books/1516127989l...
6,Tayari Jones,Newlyweds Celestial and Roy are the embodiment...,1,NaN,Hardcover,9.78e+12,308,308 pages,4.01,4,91515,9836,An American Marriage,Fiction|Contemporary|Audiobook,https://images.gr-assets.com/books/1491493625l...
7,Michelle McNamara|Gillian Flynn|Patton Oswalt,A masterful true crime account of the Golden S...,3,NaN,ebook,9.78e+12,352,352 pages,4.22,4,60784,7148,I'll Be Gone in the Dark: One Woman's Obsessiv...,Nonfiction|Crime|True Crime|Mystery|Crime|Myst...,https://images.gr-assets.com/books/1499131009l...
8,Greer Hendricks|Sarah Pekkanen,"When you read this book, you will make many as...",2,NaN,Hardcover,9.78e+12,346,346 pages,3.85,3,89835,11331,The Wife Between Us,Thriller|Fiction|Mystery|Suspense|Thriller|Mys...,https://images.gr-assets.com/books/1496862122l...
9,Neal Shusterman,"Rowan has gone rogue, and has taken it upon hi...",1,NaN,Hardcover,9.78e+12,504,504 pages,4.53,4,22823,4620,Thunderhead,Young Adult|Science Fiction|Science Fiction|Dy...,https://images.gr-assets.com/books/1505658534l...

**Q6 What is the average number of pages? (5 points)**

In [21]:
df['int_book_pages'].mean()

327.9000933706816

**Q7 What is the median number of pages? (5 points)**

In [22]:
df['int_book_pages'].median()

328.0

**Q8: Does having more than 1 author result in a longer book on average? What is the average number of pages for books written by a single author? What is it for when there are at least two authors?**

In [23]:
# 1 author author average length
df[df["no_of_authors"] == 1][['int_book_pages']].mean()

int_book_pages    334.227564
dtype: float64

In [24]:
#Mult authors average length
df[df["no_of_authors"] > 1][['int_book_pages']].mean()

int_book_pages    284.02963
dtype: float64

# Ratings #

**Q9: How many books have at least a rating of 4.5? (2.5 points)**

In [9]:
df_ratings= df["book_rating"].astype(float)

df[df_ratings >= 4.5]['book_rating'].count()

67

**Q10 How about at most a rating of 4.25? (2.5 points)**

In [10]:
df[df_ratings <= 4.25]['book_rating'].count()

856

**Q11 Discretize the ratings. (1,2,3,4,5). (15 points)**

In [7]:
book_rating= df['book_rating']

dis_rating = np.digitize(book_rating,[1,2,3,4,5])

dis_rating_series = pd.Series(dis_rating, name = 'ratings')

dis_rating_series

0       4
1       4
2       4
3       3
4       4
       ..
1136    3
1137    3
1138    3
1139    3
1140    3
Name: ratings, Length: 1141, dtype: int64

**Q12: For each of the discretized ratings (1,2,3,4,5), what is the average number of ratings? (5 points)**

In [11]:
#Insert discretized rating into df
df.insert(8, "dis_book_rating", dis_rating, True)

#Remove duplicate columns
df = df.T.drop_duplicates().T

#Numericise and group on discretized bookrating
grouped12 = pd.to_numeric(df['book_rating_count']).groupby(df['dis_book_rating'])

#Find average number of ratings for each discratized group 
grouped12.mean()

dis_book_rating
2    1448.666667
3    5817.557652
4    5705.286810
5       2.555556
Name: book_rating_count, dtype: float64

**Q13: How about the average number of authors? (5 points)**

In [14]:
authors = df['book_authors']
number_of_authors = []

#Find number of authors by counting number of pipes in field and adding 1
for author in authors:
    auth_num = (author.count('|') + 1)
    number_of_authors.append(auth_num)

#Insert column for number of authors in dataframe
df.insert(2,"no_of_authors",number_of_authors,True)
df = df.T.drop_duplicates().T

#Find average number of authors for each discretized rating 
grouped13 = pd.to_numeric(df['no_of_authors']).groupby(df['dis_book_rating'])
grouped13.mean()
#df.head(10)

dis_book_rating
2    1.333333
3    1.224319
4    1.311350
5    1.000000
Name: no_of_authors, dtype: float64

## Genres ##

**Q14: Create a new DataFrame, exploding the rows with multiple genres such that it is one row per genre/book. (15 points)**

In [48]:
genres = df['genres']
genre_list = []

#Split multiple genre into lists, append list of genres to genre list
for genre in genres:
    str_genre = str(genre)
    split = str_genre.split("|")
    genre_list.append(split)

#Insert new column with list of columns
df.insert(14,"list_genres",genre_list,True)
df = df.loc[:,~df.columns.duplicated()]

#Explode out genres to one genre per book
df_explode = df.explode('list_genres')

df_explode

,book_authors,book_desc,no_of_authors,book_edition,book_format,book_isbn,int_book_pages,book_pages,book_rating,dis_book_rating,book_rating_count,book_review_count,book_title,genres,list_genres,image_url
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",1,NaN,Kindle Edition,NaN,435,435 pages,4.33,4,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,Fiction,https://images.gr-assets.com/books/1501852423l...
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",1,NaN,Kindle Edition,NaN,435,435 pages,4.33,4,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,Historical,https://images.gr-assets.com/books/1501852423l...
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",1,NaN,Kindle Edition,NaN,435,435 pages,4.33,4,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,Historical Fiction,https://images.gr-assets.com/books/1501852423l...
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",1,NaN,Kindle Edition,NaN,435,435 pages,4.33,4,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,Audiobook,https://images.gr-assets.com/books/1501852423l...
0,Kristin Hannah,"Alaska, 1974.Unpredictable. Unforgiving. Untam...",1,NaN,Kindle Edition,NaN,435,435 pages,4.33,4,146505,17438,The Great Alone,Fiction|Historical|Historical Fiction|Audioboo...,Historical,https://images.gr-assets.com/books/1501852423l...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1140,Nisha Sharma,Winnie Mehta was never really convinced that R...,1,NaN,Hardcover,9.78e+12,304,304 pages,3.64,3,1322,395,My So-Called Bollywood Life,Young Adult|Contemporary|Romance|Fiction|Young...,Contemporary,https://images.gr-assets.com/books/1510586092l...
1140,Nisha Sharma,Winnie Mehta was never really convinced that R...,1,NaN,Hardcover,9.78e+12,304,304 pages,3.64,3,1322,395,My So-Called Bollywood Life,Young Adult|Contemporary|Romance|Fiction|Young...,Romance,https://images.gr-assets.com/books/1510586092l...
1140,Nisha Sharma,Winnie Mehta was never really convinced that R...,1,NaN,Hardcover,9.78e+12,304,304 pages,3.64,3,1322,395,My So-Called Bollywood Life,Young Adult|Contemporary|Romance|Fiction|Young...,Fiction,https://images.gr-assets.com/books/1510586092l...
1140,Nisha Sharma,Winnie Mehta was never really convinced that R...,1,NaN,Hardcover,9.78e+12,304,304 pages,3.64,3,1322,395,My So-Called Bollywood Life,Young Adult|Contemporary|Romance|Fiction|Young...,Young Adult,https://images.gr-assets.com/books/1510586092l...
1140,Nisha Sharma,Winnie Mehta was never really convinced that R...,1,NaN,Hardcover,9.78e+12,304,304 pages,3.64,3,1322,395,My So-Called Bollywood Life,Young Adult|Contemporary|Romance|Fiction|Young...,Young Adult Contemporary,https://images.gr-assets.com/books/1510586092l...

**Q15: What is the average rating of books from different genres? What is the median? (10 points)**

In [68]:
#Average rating per genre
df_explode['book_rating'] = df['book_rating'].astype(float)

df_genre_rating = df_explode.groupby('list_genres')['book_rating'].mean()
df_genre_rating.head()

list_genres
16th Century    4.130000
20th Century    4.000000
Abandoned       3.557692
Abuse           4.395000
Academic        4.190000
Name: book_rating, dtype: float64

In [69]:
#Median rating per genre
df_explode['book_rating'] = df['book_rating'].astype(float)

df_genre_rating = df_explode.groupby('list_genres')['book_rating'].median()
df_genre_rating.head()

list_genres
16th Century    4.13
20th Century    4.00
Abandoned       3.63
Abuse           4.30
Academic        4.11
Name: book_rating, dtype: float64

**Q16: What is the average length of books from different genres? What is the median?**

In [71]:
#Average length

df_explode['int_book_pages'] = pd.to_numeric(df['int_book_pages'], downcast='float')

df_genre_length = df_explode.groupby('list_genres')['int_book_pages'].mean()
df_genre_length.head()

list_genres
16th Century    560.000000
20th Century    256.000000
Abandoned       343.923065
Abuse           359.000000
Academic        335.833344
Name: int_book_pages, dtype: float32

In [72]:
#Median Length

df_explode['int_book_pages'] = pd.to_numeric(df['int_book_pages'], downcast='float')

df_genre_length = df_explode.groupby('list_genres')['int_book_pages'].median()
df_genre_length.head()

list_genres
16th Century    560.0
20th Century    256.0
Abandoned       308.0
Abuse           349.0
Academic        329.5
Name: int_book_pages, dtype: float32