Initialize the lab by mounting the colab notebook to your google drive

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Example of Google Drive directory change

In [ ]:
%cd '/content/drive/My Drive/SI618/Labs/Lab1/Lab1'

In [ ]:
%pwd

In [ ]:
comics_df = pd.read_csv('comic_characters.csv')
comics_df

<font color='red'>To-do:</font> Insert a code cell and change your directory to your 618 materials in your google drive

In [ ]:
%cd '/content/drive/My Drive/SI618/Labs/Lab1/Lab1'

In [ ]:
%ls

Let's start by important the appropriate libraries.

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

<font color='red'>To-do:</font> Insert a cell in markdown mode and write "This is a markdown example" in italics.

*This is a markdown example*

### Initialization
You can create a Series by passing a list of values. By default, pandas will create an integer index.

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])
s

Let's create another Series

In [ ]:
s2 = pd.Series(["1", "10", "3", "44"])

In [ ]:
s3 = pd.Series(["3","4","5"])
s3

<font color='red'>To-do:</font> Insert a new cell above this one and create a new series called s3. You can choose its datatype, size, and elements. Display the result.

<font color='red'>To-do:</font> If you aim to store integers, string is an inefficient data type. Let's convert this series to the appropriate data type and store the result in s4. Display s4.

In [ ]:
s4 = s3.astype(int) 
s4

You can also use pandas to create a series of datetime objects. Let’s make one for the week beginning January 25th, 2015:

In [ ]:
dates = pd.date_range('20150125',periods=7)
dates

<font color='red'>To-do:</font> Insert a new cell below this one and create a new dates2 DatetimeIndex object that starts June 20, 2020, ends with September June 25, 2020 and has five periods. Display the result.

In [ ]:
dates2 = pd.date_range('20200620', periods=6)
dates2

Now we’ll create a DataFrame using the dates array as our index, fill it with some random values using numpy, and give the columns some labels.

In [ ]:
df = pd.DataFrame(np.random.randn(7,4), index=dates, columns=['col1','col2','col4','col3'])
df

<font color='red'>To-do:</font> Now create df2 that uses dates2 as its index. Use the same set of columns ('col1','col2','col4','col3').

In [ ]:
df2 = pd.DataFrame(np.random.randn(6,4), index=dates2, columns=['col1','col2','col4','col3'])
df2

It can also be useful to know how to create a DataFrame from a dict of objects. This comes in particularly handy when working with JSON-like structures.

In [ ]:
df3 = pd.DataFrame({ 'A' : 1.,
                            'B' : pd.Timestamp('20130102'),
                            'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                            'D' : np.array([3] * 4,dtype='int32'),
                            'E' : pd.Categorical(["test","train","test","train"]),
                            'F' : 'foo' })
df3

<font color='red'>To-do:</font> Below we are trying to create another DataFrame df4. But there are some mistakes. Correct these mistakes to make sure the code compiles. Do not edit column c2.

In [ ]:
df4 = pd.DataFrame({ "c1" : [1,2,3,4],
                       "c2": [1,3,3,"book"],
                       "c3": ["True","False","True","False"]})
df4

<font color='red'>To-do:</font> Print out the datatypes of columns in df4.

In [ ]:
df4.dtypes

What do you see for c2? You can see that pandas tries to find a common object type. This is great but this flexibility can also result in runtime errors.  Make sure you are careful with the use of data types.

### Exploring data in a DataFrame
We can access the data types of each column in a DataFrame as follows:

In [ ]:
df.index

A few other basic operations:

In [ ]:
df.values

In [ ]:
df.describe()

<font color='red'>To-do:</font> Print the column names for df.

In [ ]:
list(df.columns)

### Some basic data transformations
DataFrames have a built-in transpose

In [ ]:
df.T

We can also sort a DataFrame along a given data dimension. For example, we might want to sort by the values in the second column:

In [ ]:
df.sort_values(by=['col2'])

We can also sort the rows (axis = 0) by their index values:

In [ ]:
df.sort_index(axis=0, ascending=False)

<font color='red'>To-do:</font> Sort df according to column header values using df.sort_index.

In [ ]:
df.sort_index(1, ascending=True)

### Selection
To select only only the first few rows of a DataFrame, use the .head() function, or tail to get the last few rows. These functions by default return 5 rows but you can change that.

In [ ]:
df.head()

<font color='red'>To-do:</font> Get the last 2 rows in df.

In [ ]:
df.tail(n=2)

Selecting a single column yields a Series, equivalent to df.col1:

In [ ]:
df['col1']

We can also select a subset of the rows using slicing. You can select either by integer indexing or by value:

In [ ]:
df[1:3]

In [ ]:
df['20150127':'20150130']

To select more than one column at a time, try .loc[]):

In [ ]:
df.loc[:,['col2','col4']]

You can select on rows and columns at the same time:

<font color='red'>To-do:</font> You can select on rows and columns at the same time. Select rows from '20150125' through '20150127' and columns col2, col3, and col4.

In [ ]:
df['20150125':'20150127'].loc[:,['col2', 'col3', 'col4']]

You can also use boolean indexing to select subset of a dataframe that satisfies a requirement

In [ ]:
df[df['col1'] > 0]

<font color='red'>To-do:</font> Now select the rows where both col2 and col3 are greater than zero.

In [ ]:
df[df > 0].loc[:,['col2','col3']]

In [ ]:
nonneg_only = df[df > 0]

In [ ]:
nonneg_only

You can drop rows with missing values as such:

In [ ]:
nonneg_only.dropna()

There were no rows with no missing values (most likely, these are random numbers after all...) and therefore the result is an empty dataframe. You can instead assign a default value (here, 0) to the NaN values

In [ ]:
nonneg_only.fillna(value=0)

You can also do filtering using non-numeric values:

In [ ]:
df_c = df.copy()
df_c['color'] = ['red', 'blue', 'red', 'red', 'blue', 'green', 'green' ]
df_c

In [ ]:
df_c[df_c['color'].isin(['red','blue'])]

### Combining DataFrames
You can combine DataFrame objects using simple concatenation (provided they have the same columns):

In [ ]:
frame_one = pd.DataFrame(np.random.randn(5, 4))
frame_one

In [ ]:
frame_two = pd.DataFrame(np.random.randn(5, 4))
frame_two

In [ ]:
pd.concat([frame_one, frame_two])

<font color='red'>To-do:</font> Now concatenate along the other axis.

In [ ]:
pd.concat([frame_one, frame_two], axis=1)

<font color='red'>To-do:</font> Do you see an issue here? What do you think we need to do to avoid this problem?

Issue: The numeric row names repeat themselves, need to ignore index

In [ ]:
pd.concat([frame_one, frame_two], axis=1, ignore_index=True)

You can also perform SQL-like merge operations

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
left

In [ ]:
right = pd.DataFrame({'key': ['foo', 'foo', 'bar'], 'rval': [3, 4, 5]}) 
right

In [ ]:
pd.merge(left, right, on='key')

### Grouping
Sometimes you will want to group and summarize a DataFrame for a more efficient computation. This is one of the strengths of pandas and DataFrames.

In [ ]:
foo_bar = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                                   'C' : np.random.randn(8),
                                   'D' : np.random.randn(8)})
foo_bar

In [ ]:
grouped = foo_bar.groupby('A').sum()
grouped

<font color='red'>To-do:</font> What happened to column B? Because sum oepration cannot be applied to datatype string, the column was dropped here. Now use both columns to perform the operation for each possible A, B pair. Assin this to "grouped" and display it.

In [ ]:
grouped = foo_bar.groupby(['A','B']).sum()
grouped

The .stack() function can be used to compress a level in the DataFrame’s columns:

In [ ]:
stacked = grouped.stack()
stacked

In [ ]:
stacked.unstack()

## Reading from/Writing to files
You can write a dataframe to file as follows:

In [ ]:
grouped.to_csv('grouped.csv')

<font color='red'>To-do:</font> Now write this same DataFrame to a JSON file.

In [ ]:
grouped.to_json('grouped.json')

And you can read as follows:

In [ ]:
new_frame = pd.read_csv('grouped.csv')

In [ ]:
new_frame.head()

Let's now work with a relatively more complex and bigger file

In [ ]:
comics_df = pd.read_csv('comic_characters.csv')
comics_df

In [ ]:
comic_df = pd.read_csv('comic_characters.csv',
parse_dates=['date'], dayfirst=False, index_col='id')
comic_df

The goal of this lab was to provide a high level introduction to pandas. There is so much more to it. You can/should practice more. We will cover more in lecture #2.